.footer {
  background-color: var(--main-color);
  color: white;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  list-style-type: none;
  margin: 5px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.social-media a {
  font-size: 30px !important;
}
